*{
    /* outline-style: solid; */
    color: gray;
    margin: 0;
    
}

/* 後で消す */
body{
    padding-left: 200px;
    padding-right: 200px;
}
header{
    display: flex;
    height: 100px;
    padding: 50px;
}
#header{
    width: 300px;
}
#header p:first-child{
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 5px;
}
#nav{
    display: flex;
    padding-top: 45px;
    text-align: center;
}
#nav p{
    flex: 1;
    width: 150px;
}
#img{
    text-align: center;
}
#main{
    /* text-align: center; */
    padding: 50px;
    font-size: x-large;
}
span{
    font-weight: bold;
}
.main{
    display: flex;
    padding: 50px;
}
.main .p1{
    height: 100px;
    /* width: 150px; */
    padding: 10px 100px 10px 0px;
}
.main .p1 p{
    width: 150px;
}
.thema{
    padding: 10px 10px 20px 0;
    font-weight: bold;
    font-size: larger;
}
footer{
    text-align: center;
    padding: 75px;
}